body {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	color: #000000;
	background-color: #999999;
	margin: 0;
	padding: 0;
	text-align: center;
	}

#logo {
	background-image: url("../images/emkei.cz-logo.png");
	background-repeat: no-repeat;
	background-position: center top;
	width: 672px;
	height: 138px;
	padding-bottom: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	}

#allio {
	background-color: #ffffff;
	width: 800px;
	height: 100%;
	margin: 0;
	padding: 50px 0 5px 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	}

#panel {
	position: fixed;
	top: 25px;
	left: 10%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	}

/*#ppanel {
	position: fixed;
	top: 0px;
	left: 78%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	width: 340px;
	height: 690px;
	overflow: hidden;
	}*/

#ppanel {
	position: fixed;
	top: 25px;
	left: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	width: 160px;
	height: 600px;
	overflow: hidden;
	}

#kw {
	position: fixed;
	top: 25px;
	left: -1000px;
	overflow: hidden;
	display: none;
	}

#sluzby {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 297px;
        }

#google_translate_element {
        position: fixed;
        top: 0;
        left: 50%;
        margin-left: -400px;
        }

#fbbtn {
        border: none;
        overflow: hidden;
        width: 55px;
        height: 65px;
	background-color: transparent;
        }

#nadpis {
        color: #555555;
        font-size: 15px;
        font-style: normal;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 25px;
        }

a {
	color: #666666;
	cursor: pointer;
	text-decoration: none;
	}

a:link {
	color: #666666;
	}

a:visited {
	color: #666666;
	}

a:active {
	color: #666666;
	}

a:hover {
	color: #666666;
	}

.support {
	background-color: #ffffff;
	padding: 10px;
	margin-top: 200px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}

.support a {
	color: #198519;
	cursor: pointer;
	text-decoration: none;
	}

.support a:link {
	color: #198519;
	}

.support a:visited {
	color: #198519;
	}

.support a:active {
	color: #198519;
	}

.support a:hover {
	color: #198519;
	}

.underline {
	text-decoration: underline;
	}

.sbold {
	font-weight: bold;
	}

.opt {
	color: #666666;
	}

.slarger {
	font-size: larger;
	}

.datewidth {
        width: 300px;
        }

.btn {
	width: 100px;
	margin-top: 5px;
	}

.pbottom {
	padding-bottom: 20px;
	}

.footer {
	color: #555555;
	font-size: 12px;
	margin-top: 50px;
	}

.footer a:link {
	color: #555555;
	}

.footer a:visited {
	color: #555555;
	}

.footer a:active {
	color: #555555;
	}

.footer a:hover {
	color: #555555;
	}

.footer2 {
        color: #555555;
        font-size: 10px;
        margin-top: 20px;
        }

.footer2 a:link {
        color: #555555;
        }

.footer2 a:visited {
        color: #555555;
        }

.footer2 a:active {
        color: #555555;
        }

.footer2 a:hover {
        color: #555555;
        }

td {
	text-align: left;
	vertical-align: middle;
	}

.sport {
	width: 50px;
	}

.vatop {
	vertical-align: top;
	}

.taright {
	text-align: right;
	width: 150px;
	}

.tacenter {
	text-align: center;
	}

.full, textarea {
	width: 100%;
	}

.cchs {
	width: 200px;
	}

.rbtn {
	margin-left: 75px;
	}

.corpus {
	width: 600px;
	margin-right: 75px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	}

.error {
	padding-right: 10px;
	}

.cred {
	color: #ff0000;
	}

.cblue {
	color: #0000ff;
	}

.small {
	font-size: small;
	}

.hideme {
        display: none;
        }

.noborder {
        border-style: none;
        }

.msg {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
	margin-bottom: 5px;
        }

